
<div class="container-fluid p-3">


    <div class="card p-3 mt-3">
        <div class="stepwizard mt-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-4">
                    <button type="button" class="btn btnDisabled btn-circle"
                        [ngClass]=" {'step-wizard-btn-success' : (activeTab == 1 && generalStep == false),'step-wizard-button-light' : ((activeTab == 2 || activeTab == 3) && generalStep == true)}">1</button>
                    <p><small>General</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                    <a type="button" class="btn btn-circle"
                        [ngClass]=" {'step-wizard-btn-success' : (activeTab == 2 && generalStep == true && profileStep == false) , 'step-wizard-button-light' : (activeTab == 3 && generalStep == true && profileStep == true), 'step-wizard-btn-default' : (activeTab == 1 && generalStep == false) }">2</a>
                    <p><small>Profile</small></p>
                </div>
                <div class="stepwizard-step col-xs-4">
                    <a type="button" class="btn btn-circle"
                        [ngClass]=" {'step-wizard-btn-success' : (activeTab == 3 && generalStep == true && profileStep == true && schdulingStep == false) , 'step-wizard-btn-default' : ((activeTab == 2 || activeTab == 1) && ((generalStep == true && profileStep == false) || (generalStep == false && profileStep == false))) }">3</a>
                    <p><small>Scheduling</small></p>
                </div>
            </div>
        </div>

        <form role="form" class="mt-3 mb-3" autocomplete="off">
            <div class="panel panel-primary setup-content" [formGroup]="generalTabForm" *ngIf="activeTab ==1"
                id="step-1">
                <!-- profile info -->
                <div class="panel-heading border-bottom mb-4">
                    <h2 class="panel-title mb-0">Profile Info</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="firstName">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control"
                                placeholder="First Name">
                            <div *ngIf="submittedGeneralInfo && fgeneralData['firstName'].errors">
                                <div *ngIf="fgeneralData['firstName'].errors['required']">
                                    <span class="text-danger">First Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="lastName">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="email">Email</label>
                            <input type="text" class="form-control"
                                [readonly]="!!fgeneralData['_id'].value ? true : false" formControlName="email"
                                placeholder="Email">
                            <div *ngIf="submittedGeneralInfo && fgeneralData['email'].errors">
                                <div *ngIf="fgeneralData['email'].errors['required']">
                                    <span class="text-danger">Email ID is Required.</span>
                                </div>
                                <div
                                    *ngIf="!fgeneralData['email'].errors['valid'] && !fgeneralData['email'].errors['required']">
                                    <span class="text-danger">Please Enter Valid Email ID.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                            <div *ngIf="submittedGeneralInfo && fgeneralData['mobile'].errors">
                                <div *ngIf="fgeneralData['mobile'].errors['required']">
                                    <span class="text-danger">Contact Number is Required.</span>
                                </div>
                                <div *ngIf="fgeneralData['mobile'].errors['pattern']">
                                    <span class="text-danger">Contact Number is less than 10 digit.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="accessLevelList">Access Level / Permission</label>
                            <ng-select [items]="accessLevelList" class="form-control p-0 me-2" placeholder="Select ..."
                                bindLabel="roleName" [clearable]="false" formControlName="role" bindValue="_id"
                                [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedGeneralInfo && fgeneralData['role'].errors">
                                <div *ngIf="fgeneralData['role'].errors['required']">
                                    <span class="text-danger">Access Level / Permission is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="location">Location</label>
                            <ng-select [items]="locationList" class="form-control p-0 me-2" placeholder="Select ..."
                                bindLabel="name" formControlName="location" [clearable]="false"
                                bindValue="_id" [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedGeneralInfo && fgeneralData['location'].errors">
                                <div *ngIf="fgeneralData['location'].errors['required']">
                                    <span class="text-danger">Location is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- login info -->
                <div class="panel-heading border-bottom mb-4 mt-4">
                    <h2 class="panel-title mb-0">Login Info</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="password">Password</label>
                            <input type="text" readonly formControlName="password" class="form-control"
                                placeholder="Password">
                            <div *ngIf="submittedGeneralInfo && fgeneralData['password'].errors">
                                <div *ngIf="fgeneralData['password'].errors['required']">
                                    <span class="text-danger">Password is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="kioskPin">Kiosk Pin</label>
                            <input type="text" formControlName="kioskPin" readonly class="form-control"
                                placeholder="Kiosk Pin">
                            <div *ngIf="submittedGeneralInfo && fgeneralData['kioskPin'].errors">
                                <div *ngIf="fgeneralData['kioskPin'].errors['required']">
                                    <span class="text-danger">Kiosk Pin is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="email">Allow Kiosk Login</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check mt-2 me-4">
                                    <input class="form-check-input" formControlName="allowKioskLogin" value="true"
                                        id="kioskLogin" type="radio" name="allowKioskLogin">
                                    <label class="form-check-label" for="kioskLogin">Yes</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" formControlName="allowKioskLogin" value="false"
                                        id="kioskLogin1" type="radio" name="allowKioskLogin">
                                    <label class="form-check-label" for="kioskLogin">No</label>
                                </div>
                            </div>
                            <div *ngIf="submittedGeneralInfo && fgeneralData['allowKioskLogin'].errors">
                                <div *ngIf="fgeneralData['allowKioskLogin'].errors['required']">
                                    <span class="text-danger">Please Select Anyone.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="mobile">Allow Mobile</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check mt-2 me-4">
                                    <input class="form-check-input" formControlName="allowMobile" value="true"
                                        id="allowMobile" type="radio" name="allowMobile">
                                    <label class="form-check-label" for="allowMobile">Yes</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" formControlName="allowMobile" value="false"
                                        id="allowMobile1" type="radio" name="allowMobile">
                                    <label class="form-check-label" for="allowMobile">No</label>
                                </div>
                            </div>
                            <div *ngIf="submittedGeneralInfo && fgeneralData['allowMobile'].errors">
                                <div *ngIf="fgeneralData['allowMobile'].errors['required']">
                                    <span class="text-danger">Please Select Anyone.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="mobile">Is Salaried</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check mt-2 me-4">
                                    <input class="form-check-input" formControlName="isSalaried" value="true"
                                        id="isSalaried" type="radio" name="isSalaried">
                                    <label class="form-check-label" for="isSalaried">Yes</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" formControlName="isSalaried" value="false"
                                        id="isSalaried1" type="radio" name="isSalaried">
                                    <label class="form-check-label" for="isSalaried">No</label>
                                </div>
                            </div>
                            <div *ngIf="submittedGeneralInfo && fgeneralData['isSalaried'].errors">
                                <div *ngIf="fgeneralData['isSalaried'].errors['required']">
                                    <span class="text-danger">Please Select Anyone.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="salaryAmount">Salary Amount</label>
                            <input type="text" class="form-control" appNumbersOnly formControlName="salaryAmount"
                                placeholder="Salary Amount">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary setup-content" [formGroup]="profileTabForm" *ngIf="activeTab ==2"
                id="step-1">
                <!-- personal profile info -->
                <div class="panel-heading border-bottom mb-4">
                    <h2 class="panel-title mb-0">Personal Profile Info</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 mb-2">
                            <label for="firstName">Profile Picture</label>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 mb-4">
                                    <input type="file" #profilePicture accept='image/x-png,image/gif,image/jpeg'
                                        (change)="preview(profilePicture.files)" class="form-control"
                                        placeholder="First Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 mb-3" *ngIf="imgURL">
                                    <div class="position-relative">
                                        <button type="button" class="btn btn-circle btn-danger position-absolute"
                                            style="width: 18px;height: 18px;top: -19%;right: 66%;"
                                            (click)="removeuploadFile()">
                                            <i class="material-icons" style="font-size: 12px;">close</i>
                                        </button>
                                        <img src="{{imgURL}}" alt="" class="w-30 p-2 border">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="lastName">Gender</label>
                            <ng-select [items]="genderList" formControlName="gender" class="form-control p-0 me-2"
                                placeholder="Select" bindLabel="genderList" [clearable]="false" bindValue="genderList"
                                [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedProfileInfo && fprofileData['gender'].errors">
                                <div *ngIf="fprofileData['gender'].errors['required']">
                                    <span class="text-danger">Gender is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="birthdate">Birthdate</label>
                            <div class="position-relative mat-date-picker">
                                <span class="icon-position cursor-pointer"><i class="fa fa-calendar"></i></span>
                                <input matInput class="form-control date-picker-input" formControlName="birthDate"
                                    readonly="readonly" placeholder="Birthdate" [matDatepicker]="birthdate">
                                <div class="mat-dat-picker-icon">
                                    <mat-datepicker-toggle matIconSuffix [for]="birthdate"></mat-datepicker-toggle>
                                    <mat-datepicker #birthdate></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="displayName">Display Name</label>
                            <input type="text" class="form-control" placeholder="Display Name"
                                formControlName="displayName">
                            <div *ngIf="submittedProfileInfo && fprofileData['displayName'].errors">
                                <div *ngIf="fprofileData['displayName'].errors['required']">
                                    <span class="text-danger">Display Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="hireDate">Hire Date</label>
                            <div class="position-relative mat-date-picker">
                                <span class="icon-position cursor-pointer"><i class="fa fa-calendar"></i></span>
                                <input matInput class="form-control date-picker-input" readonly="readonly"
                                    formControlName="hireDate" placeholder="Hire Date" [matDatepicker]="hireDate">
                                <div class="mat-dat-picker-icon">
                                    <mat-datepicker-toggle matIconSuffix [for]="hireDate"></mat-datepicker-toggle>
                                    <mat-datepicker #hireDate></mat-datepicker>
                                </div>
                            </div>
                            <div *ngIf="submittedProfileInfo && fprofileData['hireDate'].errors">
                                <div *ngIf="fprofileData['hireDate'].errors['required']">
                                    <span class="text-danger">Hire Date is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="height">Height</label>
                            <input type="text" class="form-control" placeholder="Height" formControlName="height">
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="weight">Weight</label>
                            <input type="text" class="form-control" formControlName="weight" placeholder="Weight">
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="bloodGroup">Blood Group</label>
                            <input type="text" class="form-control" placeholder="Blood Group"
                                formControlName="bloodGroup">
                        </div>
                    </div>
                </div>

                <!-- employeement profile -->
                <div class="panel-heading border-bottom mb-4 mt-4">
                    <h2 class="panel-title mb-0">Employeement Profile</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="jobPosition">Job Position</label>
                            <div class="row">
                                <div class="col-lg-9 mb-2">
                                    <ng-select [items]="jobPositionList" formControlName="jobPosition"
                                        class="form-control p-0 me-2" placeholder="---Select Job Position---"
                                        bindLabel="name" [clearable]="false" bindValue="_id" [searchable]="false">
                                    </ng-select>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-outline-gray" (click)="addNewPosition()">New</button>
                                </div>
                            </div>
                            <div *ngIf="submittedProfileInfo && fprofileData['jobPosition'].errors">
                                <div *ngIf="fprofileData['jobPosition'].errors['required']">
                                    <span class="text-danger">Job Position is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="address">Address</label>
                            <textarea name="" id="" rows="4" class="form-control" formControlName="address"
                                placeholder="Address"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="country">Country</label>
                            <ng-select [items]="countryList" class="form-control p-0 me-2"
                                [readonly]="fprofileData['country'].value ? true : false"
                                placeholder="---Select Country---" bindValue="name" formControlName="country"
                                bindLabel="name" [clearable]="false" [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedProfileInfo && fprofileData['country'].errors">
                                <div *ngIf="fprofileData['country'].errors['required']">
                                    <span class="text-danger">Country is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="country">State</label>
                            <ng-select [items]="stateList" class="form-control p-0 me-2" (change)="onStateChange()"
                                placeholder="---Select State---" bindLabel="name" formControlName="state"
                                [clearable]="false" [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedProfileInfo && fprofileData['state'].errors">
                                <div *ngIf="fprofileData['state'].errors['required']">
                                    <span class="text-danger">State is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="country">City</label>
                            <ng-select [items]="cityList" class="form-control p-0 me-2" placeholder="---Select State---"
                                formControlName="city" bindLabel="name" bindValue="name" [clearable]="false"
                                [searchable]="false">
                            </ng-select>
                            <div *ngIf="submittedProfileInfo && fprofileData['city'].errors">
                                <div *ngIf="fprofileData['city'].errors['required']">
                                    <span class="text-danger">City is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- emergency contact details -->
                <div class="panel-heading border-bottom mb-4 mt-4">
                    <h2 class="panel-title mb-0">Emergency Contact</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="emergencyContactName">Emergency Contact Name</label>
                            <input type="text" class="form-control" placeholder="Emergency Contact Name"
                                formControlName="emergencyContactName">
                            <div *ngIf="submittedProfileInfo && fprofileData['emergencyContactName'].errors">
                                <div *ngIf="fprofileData['emergencyContactName'].errors['required']">
                                    <span class="text-danger">Emergency Contact Name is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 mb-2">
                            <label for="emergencyContactNo">Emergency Contact No</label>
                            <input type="text" class="form-control" placeholder="Emergency Contact No"
                                formControlName="emergencyContactNo">
                            <div *ngIf="submittedProfileInfo && fprofileData['emergencyContactNo'].errors">
                                <div *ngIf="fprofileData['emergencyContactNo'].errors['required']">
                                    <span class="text-danger">Emergency Contact No is Required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- scheduling panel -->
            <div class="panel panel-primary setup-content" *ngIf="activeTab ==3" id="step-1">
                <!-- personal profile info -->
                <div class="panel-heading border-bottom mb-4">
                    <h2 class="panel-title mb-0">Scheduling</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <span class="d-flex flex-column flex-lg-row">
                            <span class="scheduling-title me-3">Stress Profile</span>
                            <span class="ms-lg-3">Stress profiles contain information about how often and how long an
                                employee can work. Workforce scheduling recommendation engine uses this information to
                                suggest employees for a shift.</span>
                        </span>
                        <span class="d-flex flex-column flex-lg-row mt-3">
                            <span class="scheduling-title me-3">Preferred Areas</span>
                            <span class="ms-lg-3">All the locations for the employee are listed below. Select the
                                area(s) you would like this employee to be recommanded for when scheduling.</span>
                        </span>

                        <div class="nested-dropdown mt-4">
                            <ul>
                                <li>
                                    <label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">Vidhan
                                                Infotech</label>
                                        </div>
                                    </label>
                                    <ul>
                                        <li>
                                            <label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked">
                                                    <label class="form-check-label" for="flexCheckChecked">IT</label>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked">
                                                    <label class="form-check-label" for="flexCheckChecked">Human Resouce
                                                        Management</label>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked">
                                                    <label class="form-check-label" for="flexCheckChecked">Web
                                                        Designer</label>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked">
                                                    <label class="form-check-label" for="flexCheckChecked">Admin</label>
                                                </div>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked">
                                                    <label class="form-check-label" for="flexCheckChecked">Office
                                                        Work</label>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">SD Solution</label>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="card-footer mt-3">
            <div class="float-right">
                <span *ngIf="activeTab == 1">
                    <button class="btn btn-outline-danger me-1" routerLink="/admin/peoples">Cancle</button>
                    <button class="btn btn-success" (click)="generalInfoSave()">Next</button>
                </span>
                <span *ngIf="activeTab == 2">
                    <button class="btn btn-outline-success me-2" (click)="previousStep(1)">Pervious</button>
                    <button class="btn btn-success" (click)="profileInfoSave()">Next</button>
                </span>
                <span *ngIf="activeTab == 3">
                    <button class="btn btn-outline-success me-2" (click)="previousStep(2)">Pervious</button>
                    <button class="btn btn-success" (click)="stepComplete(3)">Finish</button>
                </span>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="whoIsWorking" tabindex="-1" role="dialog" aria-labelledby="exampleModalStaticLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">Job Position</h4>
                <button class="btn-close border btn" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row border p-3">
                    <label for="" class="p-0">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name Here ...."
                        [(ngModel)]="jobPositionName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveJobPosition()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>