<div class="">
    <div class="row h-100vh m-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-5">

            <!-- dashboard -->
            <div class="d-flex align-items-center justify-content-between mt-5">
                <div>
                    <h2>Dashboard</h2>
                </div>
                <div>
                    <button class="btn border p-1 me-2">
                        <i class="material-icons">cached</i>
                    </button>
                    <button class="btn border p-1">
                        <i class="material-icons">expand_less</i>
                    </button>
                </div>
            </div>

            <!-- timesheet card -->
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <h3>&nbsp;</h3>
                    <div class="card timesheet-cards p-3">
                        <div class="image-side-card h-100 text-center">
                            <img src="../../../assets/images/person.png" class="image-cart mt-5" alt="">
                            <h2 class="mt-3"><strong>Vidhan Kumar</strong></h2>
                            <h4 class="designation-title"><strong>System Administrator</strong></h4>
                            <h2 class=""><strong><span class="time-title-text">ON SHIFT </span>Started 10:23 AM</strong>
                            </h2>
                            <div>
                                <button class="btn btn-success  me-2" *ngIf="startShift" (click)="openShiftModal(1)">
                                    START SHIFT
                                </button>
                                <button class="btn btn-warning  me-2" *ngIf="startBreak" (click)="shiftSave(3)">
                                    START BREAK
                                </button>
                                <button class="btn btn-warning  me-2" *ngIf="endBreak" (click)="shiftSave(4)">
                                    END BREAK
                                </button>
                                <button class="btn btn-danger" *ngIf="endShift" (click)="openShiftModal(2)">
                                    END SHIFT
                                </button>
                            </div>
                            <h4 class="mt-3"><strong>1 Shifts worked this week.</strong></h4>
                            <h4 class="designation-title"><strong>9:38 Hours worked this week.</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <h3>Needs Attentions</h3>
                    <div class="timesheet-cards card p-3 align-items-center">
                        <h4 class="text-primary"><strong>Enjoy Your Day!</strong></h4>
                        <span class="text-primary">There is nothing that needs your immediate attentions.</span>
                        <img src="../../../assets/images/person.png" alt="" class="px-4 pt-4" style="height: 200px;">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <h3>Needs Approval</h3>
                    <div class="timesheet-cards card p-3">
                        <div class="text-primary text-left d-flex align-items-center">
                            <div class="me-2"><i class="material-icons mb-0">event_available</i></div>
                            <div>15 Timesheet Pending Approval</div>
                        </div>
                        <div class="mt-3 timesheet-card">
                            <ul class="">
                                <li>Vidhan Kumart [System Administrator]</li>
                                <li>Nishant Vyas [Employee]</li>
                                <li>Pooja Khanna [HR Manager]</li>
                                <li>Jignasa Patel [Employee]</li>
                                <li>Nakul Shah [Employee]</li>
                                <li>Yash Chauhan [Employee]</li>
                                <li>Hemali Guna [Employee]</li>
                                <li>Ayushi Joshi [Employee]</li>
                                <li>Happy Patel [Employee]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <h3>What's happening?</h3>
                    <div class="timesheet-cards card p-3 align-items-center">
                        <h4 class="text-primary"><strong>Dream Team</strong></h4>
                        <span class="text-primary">Your team is just awesome.</span>
                        <img src="../../../assets/images/person.png" alt="" class="px-4 pt-4" style="height: 200px;">
                    </div>
                </div>
            </div>

            <!-- buttons all -->
            <div class="mt-4 dashboard-btns">
                <div class="card card-body p-3 text-center">
                    <div class="d-flex flex-row flex-nowrap overflow-auto">
                        <button class="btn border px-1">
                            <i class="material-icons">arrow_back_ios</i>
                        </button>
                        <button class="btn border btn-names">
                            11/07/2023 - 17/07/2023
                        </button>
                        <a class="btn border me-2 px-1">
                            <i class="material-icons">arrow_forward_ios</i>
                        </a>
                        <button class="btn border btn-names me-2">
                            <i class="material-icons me-1">event_available</i>
                            Upcoming Shift
                        </button>
                        <button class="btn border btn-names me-2" (click)="openModal('profile')">
                            Request Time Off
                        </button>
                        <button class="btn border btn-names me-2">
                            Show All Unavailability
                        </button>
                        <button class="btn border btn-names me-2">
                            Pending Leave Approval
                        </button>
                        <button class="btn border btn-names" (click)="openModal('wWorking')">
                            Who is working ?
                        </button>
                    </div>
                </div>
            </div>

            <!-- calender 7 days -->

            <div class="row mt-4 calendar-card mb-4">
                <div class="d-flex flex-nowrap overflow-auto">
                    <div class="col me-2" *ngFor="let weekDay of weekDayList;">
                        <div class="card p-4">
                            <h4 [ngClass]="{'active' : weekDay == todayDate}"><strong>{{weekDay}}</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row mt-4 calender-card">
                <div class="d-flex flex-row flex-nowrap overflow-auto">
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 11 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 12 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 13 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 14 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 15 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 16 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                    <div class="col col-xs-6 me-2">
                        <div class="card p-4">
                            <h4><strong>Tue 17 Jul</strong></h4>
                            <h5 class="text-danger">PENDING</h5>
                            <h5 class="mb-0">IT</h5>
                            <h5 class="mb-0">10:19 AM - 07:42 PM</h5>
                            <h5 class="mb-0">00:00 Break</h5>
                            <h5 class="mb-0">Vidhan Infotech</h5>
                            <h5 class="mb-0">09:38 Hours</h5>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>

<!-- who is working modal ? -->
<div class="modal fade" id="whoIsWorking" tabindex="-1" role="dialog" aria-labelledby="exampleModalStaticLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn-close border btn" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 mb-0 pb-0">
                        <h4 class="mb-0">Select Outlets </h4>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8">
                        <ng-select [items]="outletList" class="form-control p-0" bindLabel="outletList"
                            [clearable]="false" bindValue="outletList" [searchable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="row text-center mb-3 modal-display-button align-items-center">
                    <div class="col-lg-4 mb-2">
                        <div class="card active bg-gray p-2">
                            ALL
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card bg-gray p-2">
                            WORKING
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-gray p-2">
                            BREAK
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-3 employee-list d-flex align-items-center pb-2">
                        <img src="../../../assets/images/person.png" alt="American Express Icon" style="height: 35px">
                        <div class="ms-3">
                            <div class="display-9">Ayushi Joshi</div>
                            <div class="small text-muted">Employee</div>
                        </div>
                    </div>
                    <div class="mt-3 employee-list d-flex align-items-center pb-2">
                        <img src="../../../assets/images/person.png" alt="American Express Icon" style="height: 35px">
                        <div class="ms-3">
                            <div class="display-9">Ayushi Joshi</div>
                            <div class="small text-muted">Employee</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SHIFT SIGN IN AND SING OUT modal ? -->
<div class="modal fade" id="shiftsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalStaticLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-0 m-2 align-items-baseline">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="shiftNumber == 1">START SHIFT</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="shiftNumber == 2">END SHIFT</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="shiftNumber == 3">START BREAK</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="shiftNumber == 4">END BREAK</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="shiftNumber == 1">
                <div class="row mb-2 p-3 border align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        Select an area
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <ng-select [items]="areaList" class="form-control p-0" placeholder="Select..."
                            bindLabel="areaList" [clearable]="false" bindValue="areaList" [searchable]="false">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="shiftNumber == 2">
                <div class="row mb-2 p-3 border text-center">
                    <div class="">
                        <h2 class="mb-0"><strong>21m</strong></h2>
                    </div>
                </div>
                <div class="row border p-3">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
                        <label for="startTime">Start Time :</label>
                        <input type="text" placeholder="10:23 AM" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
                        <label for="startTime">End Time :</label>
                        <input type="text" placeholder="10:23 AM" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2">
                        <label for="startTime">Break Time :</label>
                        <input type="text" placeholder="10:23 AM" class="form-control">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                        <label for="startTime">Comment :</label>
                        <textarea name="" id="" rows="5" placeholder="comment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-3">
                <button class="btn btn-success me-2" *ngIf="shiftNumber == 1" (click)="shiftSave(1)">START
                    SHIFT</button>
                <button class="btn btn-success me-2" *ngIf="shiftNumber == 2" (click)="shiftSave(2)">END SHIFT</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- profile modal -->
<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalStaticLabel">
    <div class="modal-dialog profile-modal">
        <div class="modal-content">
            <div class="modal-header align-items-baseline">
                <div>
                    <button class="btn align-items-center border btn-primary" (click)="modalClose('profile')">
                        <span class="me-2">
                            <i class="material-icons">arrow_back_ios</i>
                        </span>
                        <span>
                            Back
                        </span>
                    </button>
                </div>
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">EDIT PROFILE</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="row mb-2 p-3 border text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/person.png" class="h-50 me-2" alt="">
                            <h2 class="m-0">
                                <strong>Vidhan Kumar</strong>
                            </h2>
                        </div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="me-2"><i class="material-icons">calendar_month</i></span>
                                <span>33 Year's Old</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="me-2"><i class="material-icons">call</i></span>
                                <span>132465789456</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="me-2"><i class="material-icons">email</i></span>
                                <span>mca.dixit03@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 p-3 border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="m-0">
                                <strong>Unavailability</strong>
                            </h2>
                            <button class="btn btn-primary">Add New</button>
                        </div>
                        <div class="mt-3">
                            <div class="d-flex align-items-center">
                                <div class="me-3">25/09/2023</div>
                                <div class="border p-2 w-100 position-relative">
                                    <h5 class="m-0"><strong>1:00 AM - 3:30 AM</strong></h5>
                                    <p class="m-0">Hi.</p>
                                    <div class="position-absolute unavailability-delete-icon">
                                        <i class="material-icons">delete</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 p-3 border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="m-0">
                                <strong>Leave</strong>
                            </h2>
                            <button class="btn btn-primary" (click)="openModal('leaveModal')">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- leave request modal -->
<div class="modal fade" id="leave-request-modal" tabindex="-9" role="dialog" aria-labelledby="exampleModalStaticLabel">
    <div class="modal-dialog profile-modal">
        <div class="modal-content">
            <div class="modal-header align-items-baseline">
                <div>
                    <button class="btn align-items-center border btn-primary" (click)="openModal('profile')">
                        <span class="me-2">
                            <i class="material-icons">arrow_back_ios</i>
                        </span>
                        <span>
                            Back
                        </span>
                    </button>
                </div>
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Leave Requests</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="row p-3 border">
                    <div class="col-lg-12 mb-2">
                        <label for="LeaveRequest">Leave Request From</label>
                        <div class="row align-items-center mt-2">
                            <div class="col-lg-4 mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled"> &nbsp;
                                All Day
                            </div>
                            <div class="col-lg-8 mb-2">
                                <div class="position-relative mat-date-picker">
                                    <span class="icon-position cursor-pointer"><i class="fa fa-calendar"></i></span>
                                    <input matInput class="form-control date-picker-input" readonly="readonly"
                                        placeholder="Please Select From Date" [matDatepicker]="fromDate">
                                    <div class="mat-dat-picker-icon">
                                        <mat-datepicker-toggle matIconSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label for="LeaveRequest">Leave Request To</label>
                        <div class="row align-items-center mt-2">
                            <div class="col-lg-4 mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled"> &nbsp;
                                All Day
                            </div>
                            <div class="col-lg-8 mb-2">
                                <div class="position-relative mat-date-picker">
                                    <span class="icon-position cursor-pointer"><i class="fa fa-calendar"></i></span>
                                    <input matInput class="form-control date-picker-input" readonly="readonly"
                                        placeholder="Please Select To Date" [matDatepicker]="toDate">
                                    <div class="mat-dat-picker-icon">
                                        <mat-datepicker-toggle matIconSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label for="LeaveRequest">Leave Type</label>
                        <ng-select [items]="leaveTypeList" class="form-control p-0"
                            placeholder="Please Select Leave Type" bindLabel="leaveTypeList" [clearable]="false"
                            bindValue="leaveTypeList" [searchable]="false">
                        </ng-select>
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label for="LeaveRequest">Comment</label>
                        <textarea name="" id="" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-12 mb-2">
                        <label for="LeaveRequest">Notify Manager(s)</label>
                        <ng-select [items]="leaveTypeList" class="form-control p-0"
                            placeholder="Please Select Some Options" bindLabel="leaveTypeList" [clearable]="false"
                            bindValue="leaveTypeList" [searchable]="false">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-secondary bg-gray" (click)="openModal('profile')">Close</button>
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>