<nav class="top-app-bar navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-4">
        <!-- Drawer toggle button-->
        <!-- <button class="btn btn-lg btn-icon order-1 order-lg-0 mdc-ripple-upgraded" id="drawerToggle"
            href="javascript:void(0);"><i class="material-icons">menu</i></button> -->
        <!-- Navbar brand-->
        <a class="navbar-brand me-auto brand-item">
            <span class="d-flex">
                <i class="material-icons text-white  m-4">
                    groups
                </i>
                <ul class="navbar-nav d-flex d-lg-flex">
                    <li class="nav-item"><a class="nav-link text-white" [routerLinkActiveOptions]="{exact: true}"
                            [routerLink]="['/admin']" routerLinkActive="active">Me</a></li>
                    <li class="nav-item"><a class="nav-link text-white">News Feed</a></li>
                    <li class="nav-item"><a class="nav-link text-white">Tasks</a></li>
                    <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/admin/location']"
                            routerLinkActive="active">Locations</a></li>
                    <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/admin/peoples']"
                            routerLinkActive="active">People</a></li>
                    <li class="nav-item"><a class="nav-link text-white">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link text-white dropdown-toggle">Timesheets</a>
                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                            aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                            <div class="row g-0">
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Company</h6>
                                    <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                    <a class="dropdown-item" href="page-company-about.html">About</a>
                                    <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                    <a class="dropdown-item" href="page-company-team.html">Team</a>
                                    <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Support</h6>
                                    <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                    <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                    <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                    <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Careers</h6>
                                    <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                    <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Blog</h6>
                                    <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                    <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                    <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Portfolio</h6>
                                    <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                    <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                    <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Error</h6>
                                    <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                    <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                    <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                    <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                    <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                    <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                    <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white dropdown-toggle">Reports</a>
                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                            aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                            <div class="row g-0">
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Company</h6>
                                    <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                    <a class="dropdown-item" href="page-company-about.html">About</a>
                                    <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                    <a class="dropdown-item" href="page-company-team.html">Team</a>
                                    <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Support</h6>
                                    <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                    <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                    <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                    <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Careers</h6>
                                    <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                    <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Blog</h6>
                                    <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                    <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                    <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Portfolio</h6>
                                    <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                    <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                    <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Error</h6>
                                    <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                    <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                    <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                    <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                    <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                    <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                    <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white dropdown-toggle" [routerLink]="['enterprise']"
                            routerLinkActive="active">Enterprise</a>
                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                            aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                            <div class="row g-0">
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Company</h6>
                                    <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                    <a class="dropdown-item" href="page-company-about.html">About</a>
                                    <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                    <a class="dropdown-item" href="page-company-team.html">Team</a>
                                    <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Support</h6>
                                    <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                    <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                    <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                    <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Careers</h6>
                                    <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                    <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Blog</h6>
                                    <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                    <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                    <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Portfolio</h6>
                                    <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                    <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                    <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Error</h6>
                                    <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                    <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                    <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                    <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                    <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                    <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                    <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </span>
        </a>
        <a class="navbar-brand navbar-toggler  border-none me-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#myNavbar">
            <i class="material-icons text-white   m-4" >
                groups
            </i>
        </a>
        <div class="d-flex align-items-center mx-3 me-lg-0 d-lg-none">
            <!-- Navbar buttons-->
            <div class="d-flex">
                <!-- Messages dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon me-3 mdc-ripple-upgraded" id="dropdownMenuMessages" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">public</i></button>
                    <!-- <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden"
                        aria-labelledby="dropdownMenuMessages">
                        <li>
                            <a class="dropdown-item unread mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Hi there, I
                                            had a question about something, is there any way you can help me out?</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 · Juan Babin</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Thanks for
                                            the assistance the other day, I wanted to follow up with you just to make
                                            sure everyting is settled.</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 10, 2023 · Christine Hendersen</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Welcome to
                                            our group! It's good to see new members and I know you will do great!</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 8, 2023 · Celia J. Knight</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item py-3 mdc-ripple-upgraded" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul> -->
                </div>

                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img src="../../../assets/images/person.png" class="" alt=""
                            style="border-radius: 50%;height: 25px;">
                    </div>
                    <div>
                        <a class="nav-link text-white dropdown-toggle">Vidhan Kumar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse bg-dark" aria-labelledby="myNavbar" id="myNavbar">
            <!-- Navbar-->
            <ul class="navbar-nav d-lg-none d-lg-flex">
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/admin']" routerLinkActive="active">Me</a></li>
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar">News Feed</a></li>
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar">Tasks</a></li>
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar" [routerLink]="['/admin/location']"
                        routerLinkActive="active">Locations</a></li>
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar" [routerLink]="['/admin/peoples']"
                        routerLinkActive="active">People</a></li>
                <li class="nav-item"><a class="nav-link text-white"  data-bs-toggle="collapse" data-bs-target="#myNavbar">Schedule</a></li>
                <li class="nav-item"><a class="nav-link text-white dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#myNavbar">Timesheets</a>
                    <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                        aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                        <div class="row g-0">
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Company</h6>
                                <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                <a class="dropdown-item" href="page-company-about.html">About</a>
                                <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                <a class="dropdown-item" href="page-company-team.html">Team</a>
                                <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Support</h6>
                                <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Careers</h6>
                                <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Blog</h6>
                                <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Error</h6>
                                <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-white dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#myNavbar">Reports</a>
                    <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                        aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                        <div class="row g-0">
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Company</h6>
                                <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                <a class="dropdown-item" href="page-company-about.html">About</a>
                                <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                <a class="dropdown-item" href="page-company-team.html">Team</a>
                                <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Support</h6>
                                <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Careers</h6>
                                <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Blog</h6>
                                <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Error</h6>
                                <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-white dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#myNavbar" [routerLink]="['enterprise']"
                        routerLinkActive="active">Enterprise</a>
                    <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                        aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                        <div class="row g-0">
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Company</h6>
                                <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                <a class="dropdown-item" href="page-company-about.html">About</a>
                                <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                <a class="dropdown-item" href="page-company-team.html">Team</a>
                                <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Support</h6>
                                <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Careers</h6>
                                <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Blog</h6>
                                <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                <div class="dropdown-divider border-0"></div>
                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                <div class="dropdown-divider border-0 d-lg-none"></div>
                            </div>
                            <div class="col-lg-4 p-lg-5">
                                <h6 class="dropdown-header text-primary">Error</h6>
                                <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Navbar-->

        <!-- </a> -->
        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0 brand-item">
            <!-- Navbar buttons-->
            <div class="d-flex">
                <!-- Messages dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon me-3 mdc-ripple-upgraded" id="dropdownMenuMessages" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">public</i></button>
                    <!-- <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden"
                        aria-labelledby="dropdownMenuMessages">
                        <li>
                            <a class="dropdown-item unread mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Hi there, I
                                            had a question about something, is there any way you can help me out?</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 · Juan Babin</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Thanks for
                                            the assistance the other day, I wanted to follow up with you just to make
                                            sure everyting is settled.</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 10, 2023 · Christine Hendersen</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text">
                                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Welcome to
                                            our group! It's good to see new members and I know you will do great!</div>
                                    </div>
                                    <div class="dropdown-item-content-subtext">Mar 8, 2023 · Celia J. Knight</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-0">
                        </li>
                        <li>
                            <a class="dropdown-item py-3 mdc-ripple-upgraded" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul> -->
                </div>

                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img src="../../../assets/images/person.png" class="" alt=""
                            style="border-radius: 50%;height: 25px;">
                    </div>
                    <div>
                        <a class="nav-link text-white dropdown-toggle">Enterprise</a>
                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up"
                            aria-labelledby="navbarDropdownPages" data-bs-popper="static">
                            <div class="row g-0">
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Company</h6>
                                    <a class="dropdown-item" href="page-basic.html">Basic Page</a>
                                    <a class="dropdown-item" href="page-company-about.html">About</a>
                                    <a class="dropdown-item" href="page-company-pricing.html">Pricing</a>
                                    <a class="dropdown-item" href="page-company-contact.html">Contact</a>
                                    <a class="dropdown-item" href="page-company-team.html">Team</a>
                                    <a class="dropdown-item" href="page-company-terms.html">Terms</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Support</h6>
                                    <a class="dropdown-item" href="page-help-center.html">Help Center</a>
                                    <a class="dropdown-item" href="page-help-knowledgebase.html">Knowledgebase</a>
                                    <a class="dropdown-item" href="page-help-message-center.html">Message Center</a>
                                    <a class="dropdown-item" href="page-help-support-ticket.html">Support Ticket</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Careers</h6>
                                    <a class="dropdown-item" href="page-careers-overview.html">Careers List</a>
                                    <a class="dropdown-item" href="page-careers-listing.html">Position Details</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Blog</h6>
                                    <a class="dropdown-item" href="page-blog-overview.html">Overview</a>
                                    <a class="dropdown-item" href="page-blog-post.html">Post</a>
                                    <a class="dropdown-item" href="page-blog-archive.html">Archive</a>
                                    <div class="dropdown-divider border-0"></div>
                                    <h6 class="dropdown-header text-primary">Portfolio</h6>
                                    <a class="dropdown-item" href="page-portfolio-grid.html">Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-large-grid.html">Large Grid</a>
                                    <a class="dropdown-item" href="page-portfolio-masonry.html">Masonry</a>
                                    <a class="dropdown-item" href="page-portfolio-case-study.html">Case Study</a>
                                    <a class="dropdown-item" href="page-portfolio-project.html">Project</a>
                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                </div>
                                <div class="col-lg-4 p-lg-5">
                                    <h6 class="dropdown-header text-primary">Error</h6>
                                    <a class="dropdown-item" href="page-error-400.html">400 Error</a>
                                    <a class="dropdown-item" href="page-error-401.html">401 Error</a>
                                    <a class="dropdown-item" href="page-error-404-1.html">404 Error (Option 1)</a>
                                    <a class="dropdown-item" href="page-error-404-2.html">404 Error (Option 2)</a>
                                    <a class="dropdown-item" href="page-error-500.html">500 Error</a>
                                    <a class="dropdown-item" href="page-error-503.html">503 Error</a>
                                    <a class="dropdown-item" href="page-error-504.html">504 Error</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>