@media (max-width: 991px) {
    .brand-item {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .brand-item {
        display: block !important;
    }
}
.border-none {
    border: none !important;
}