.white-space {
    white-space: nowrap;
}

@media (max-width:555px) {
    .header-btns {
        flex-direction: column;
    }

    .header-btns .duplicate-lines {
        margin-top: 8px;
    }
}

.datatable-top .datatable-info {
    float: left !important;
}


.float-right {
    float: right;
}

.csv-btn {
    border-radius: 10px 0 0 10px;
}

.pdf-btn {
    border-radius: 0px 10px 10px 0px;
}

.rightside-btn {
    justify-content: end;
}

@media (max-width:1070px) {
    .side-btn {
        flex-direction: column;
    }
}

@media (max-width:559px) {
    .left-side-btn {
        flex-direction: column;
    }

    .right-side-btn {
        flex-direction: column;
    }
}

@media (max-width:355px) {
    .right-two-btn {
        flex-direction: column;
        text-align: center;
    }

    .filter-btns {
        flex-direction: column;
    }
}