<div class="border-bottom p-2">
    <div class="row mt-2 m-0">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2">
            <div class="d-flex justify-content-between header-btns">
                <div class="d-flex align-items-center">
                    <button class="btn bg-gray me-3" routerLink="/admin/location/add-new-location">Add New</button>
                    <span class="d-flex  align-items-center">
                        <h3 class="mb-0 me-3">Filter By</h3>
                    </span>
                </div>
                <div class="d-flex duplicate-lines">
                    <button class="btn me-2 btn-primary bg-success">Duplicate</button>
                    <span>
                        <input type="text" class="form-control" placeholder="Keyword Search...">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 mb-2 col-sm-12 col-xs-12">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 white-space">
                            Active
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <ng-select [items]="activeTypes" class="form-control p-0" placeholder="Select"
                                bindLabel="activeTypes" [clearable]="false" bindValue="activeTypes"
                                [searchable]="false">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-2 col-sm-12 col-xs-12">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 white-space">
                            Is Workplace
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <ng-select [items]="activeTypes" class="form-control p-0" placeholder="Select"
                                bindLabel="activeTypes" [clearable]="false" bindValue="activeTypes"
                                [searchable]="false">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 mb-2 col-sm-12 col-xs-12">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 white-space">
                            Is Pay Center
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <ng-select [items]="activeTypes" class="form-control p-0" placeholder="Select"
                                bindLabel="activeTypes" [clearable]="false" bindValue="activeTypes"
                                [searchable]="false">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-4">
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top">
            <div class="datatable-dropdown">
                <label class="d-flex align-items-center">
                    <ng-select [items]="itemPerPageList" class="datatable-selector p-0" placeholder="Select ..."
                        bindLabel="roleName" [clearable]="false" (change)="itemPerPageChange()"
                        [(ngModel)]="itemPerPage" bindValue="_id" [searchable]="false">
                    </ng-select>
                    <!-- <select class="datatable-selector">
                        <option value="5">5</option>
                        <option value="10" selected="">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select> -->
                    entries per page
                </label>
            </div>
            <div class="datatable-search">
                <input class="datatable-input" (input)="search()" placeholder="Search..." type="search"
                    [(ngModel)]="searchTerm" aria-controls="datatablesSimple">
            </div>
        </div>
        <div class="datatable-container">
            <table id="datatablesSimple" class="datatable-table" matSort matSortActive="exportCode"
                matSortDirection="asc" matSortDisableClear="true" (matSortChange)="sortingList($event)">
                <thead>
                    <tr>
                        <th class="white-space">Action</th>
                        <th class="white-space" mat-sort-header="exportCode">Export Code</th>
                        <th class="white-space" mat-sort-header="epayCode">EPay Code</th>
                        <th class="white-space" mat-sort-header="name">Name</th>
                        <th class="white-space" mat-sort-header="email">Email</th>
                        <th class="white-space" mat-sort-header="userName">UserName</th>
                        <th class="white-space" mat-sort-header="frenchise">Frenchise</th>
                        <th class="white-space" mat-sort-header="active">Active</th>
                        <th class="white-space" mat-sort-header="isWorkplace">Is Workplace</th>
                        <th class="white-space" mat-sort-header="parentLocation">Parent Location</th>
                        <th class="white-space" mat-sort-header="isPayCenter">Is Pay Center</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let locationData of locationList | paginate : { itemsPerPage: l, currentPage: p };let locationIndex = index;">
                        <td class="d-flex">
                            <span class="me-3 text-primary" (click)="editLocation(locationData._id)">
                                <i class="material-icons">border_color</i>
                            </span>
                            <span class="me-3 text-primary form-check form-switch">
                                <input class="form-check-input" checked type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked">
                            </span>
                            <span class="text-primary">
                                <i class="material-icons">visibility</i>
                            </span>
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{locationData.name}}</td>
                        <td>{{locationData.email}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            -
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr *ngIf="noData">
                        <td colspan="11">
                            <h4>
                                No Data Available
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="datatable-bottom">
            <div class="datatable-info">Showing {{locationList.length > 0 ? l * (p - 1) + 1 : 0}} to {{l * (p - 1) + l <
                    locationList.length ? l * (p - 1) + l : locationList.length}} of {{locationList.length}}
                    entries</div>
                    <nav class="datatable-pagination">
                        <ul class="datatable-pagination-list">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            <!-- <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><a data-page="1"
                            class="datatable-pagination-list-item-link">‹</a></li>
                    <li class="datatable-pagination-list-item datatable-active"><a data-page="1"
                            class="datatable-pagination-list-item-link">1</a></li>
                    <li class="datatable-pagination-list-item"><a data-page="2"
                            class="datatable-pagination-list-item-link">2</a></li>
                    <li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><a
                            class="datatable-pagination-list-item-link">…</a></li>
                    <li class="datatable-pagination-list-item"><a data-page="10"
                            class="datatable-pagination-list-item-link">10</a></li>
                    <li class="datatable-pagination-list-item"><a data-page="2"
                            class="datatable-pagination-list-item-link">›</a></li> -->
                        </ul>
                    </nav>
            </div>

        </div>
        <div class="float-right">
            <button class="btn border csv-btn"><strong>CSV</strong></button>
            <button class="btn border pdf-btn"><strong>PDF</strong></button>
        </div>
    </div>