@media (max-width:345px) {
    .header-btns {
        flex-direction: column;
    }
}

.tab-nav-item .nav-link {
    color: #000 !important;

}

.tab-nav-item .nav-link:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.tab-nav-item .nav-item {
    cursor: pointer;
}

.tab-nav-item .nav-item.active {
    border-bottom: 4px solid #000;
}


.nav-item:hover {
    background: none;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(130 142 187 / 43%);
    border: 0;

}